{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": ["./src/assets"],
          "@components": ["./src/components"],
          "@constants": ["./src/constants"],
          "@context": ["./src/context"],
          "@hooks": ["./src/hooks"],
          "@pages": ["./src/pages"],
          "@styles": ["./src/styles"],
          "@typings": ["./src/typings"],
          "@utils": ["./src/utils"],
          "@views": ["./src/views"]
        }
      }
    ]
  ]
}
