@tailwind base;
@tailwind utilities;

body {
  min-height: 100vh;
}

/* body.light {
  background-color: #ffffff;
  color: #333333;
}

body.dark {
  background-color: #333333;
  color: #ffffff;
} */

svg {
  display: inline-block;
}

.gradient-light {
  background: linear-gradient(
    120deg,
    rgba(242, 180, 162, 1) 0%,
    rgba(255, 220, 109, 1) 100%
  );
}

.gradient-dark {
  background: linear-gradient(315deg, #5e574d 0%, #7d6d61 74%);
}

.hover-bg-grayout:hover,
.hover-bg-grayout:active,
.hover-bg-grayout:focus {
  @apply transition duration-200 transform bg-gray-200;
}

.dark .hover-bg-grayout:hover,
.dark .hover-bg-grayout:active,
.dark .hover-bg-grayout:focus {
  @apply bg-monochrome-700;
}
